<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InitializeConnectionString" value="Server=localhost;database=master;User Id=sa;Password=Password!;" />
    <add key="ConnectionString" value="Server=localhost;database=TextProcessor;User Id=sa;Password=Password!;" />
    <add key="NameDb" value="TextProcessor" />
    <add key="TableName" value="WordList" />
  </appSettings>
</configuration>